@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scrollbar-gutter: stable;
}

body {
  @apply bg-white text-zinc-900 transition-colors dark:bg-dark dark:text-zinc-100;
  background-image: url("./assets/bg-image.png");
  background-size: auto;
  background-position: center;
  background-repeat: repeat;
  background-attachment: fixed;
  min-height: 100vh;
  width: 100%;
  overflow-y: scroll;
}
